:root {
	/* # BACKGROUNDS */

	/* * LINEAR GRADIENT BODY */
	--primary-main-bg: #00a884;
	--secondary-main-bg--start: #e3e1dc;
	--secondary-main-bg--end: #d1d7db;
	--main-bg: linear-gradient(to bottom,
			var(--primary-main-bg) 0px,
			var(--primary-main-bg) 15vh,
			var(--secondary-main-bg--start) 15vh,
			var(--secondary-main-bg--end) 100vh);
}
/* RESET */
ul, ol{
	list-style: none;
	padding: 0;
}

/* TOOLS DEBUG */
.debug{
	border: 2px dashed red;
}

/* GENERAL */
body{
	height: 100vh;
	background-image: var(--main-bg);
}
aside {
	width: 40%;
}

main{
	width: 60%;
}

/** CUSTOM CSS **/
/* UTILS */
.name{
	font-weight: bold;
}

.circle-img{
	display: block;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.cs-point{
	cursor: pointer;
}

/* COLORS */
.circle-img.notification {
	background-color: aliceblue;
}

.bell{
	color: #8edafc;;
}

.logged-user-commands a,
.user-chosen-commands a,
.last-access,
.last-message,
.last-message-date,
.glass{
	color: #b1b1b1;
}

.bell-text{
	color: grey;
}

.aside-header,
.main-header,
.main-footer {
	background-color: #eaeaea;
}

.aside-profiles{
	background-color: white;
}

/*  HEIGHTS */
.boolzapp{
	height: 90vh;
}

.aside-header{
	height: 200px;
}

.aside-profiles {
	height: calc(100% - 200px);
	overflow: auto;
}

.main-content{
	overflow: auto;
	background-image: url("../img/mine.jpg");
	height: calc(100% - 70px - 70px );
}

/* aside header + main header + main footer  heights*/
.logged-user,
.main-header,
.main-footer{
	height: 70px;
	padding: 10px;
}

/* --------------------- */

.logged-user-commands > *,
.user-chosen-commands > *,
.emoji-group,
.vocal{
	padding: 0 10px;
	font-size: 1.2rem;
}

.notifications{
	background-color: #8edafc;
	padding: 0.6rem;
}

.message-box{
	position: relative;
	width: fit-content;
	max-width: 50%;
	padding: 10px 10px;
	margin: 10px 30px;
	border-radius: 8px;
}

/* DROPDOWN */
.text-options--dropdown-menu{
	/* display: none; */
	position: absolute;
	width: max-content;
	background-color: white;
	box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* .text-options--dropdown-menu.active{
	display: block;
} */

.text-options--dropdown-menu.sent {
	right: 0;
}
.text-options--dropdown-menu li:hover{
	background-color: #d5f9ba;
}
/* ----------------------- */
.time{
	position: absolute;
	font-size: 0.5rem;
	bottom: 0;
	right: 5px;
}

.message-box.sent{
	margin-left: auto;
	background-color: #d5f9ba;
}

.message-box.received {
	background-color: white;
}


.aside-profiles > .container > .row > .col-12:hover{
	background-color: #e9ebeb;
}

.aside-profiles>.container>.row>.col-12.active {
	background-color: #e9ebeb;
}